* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    width: 100%;
    overflow-x: hidden;
}

body {
    position: relative;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
    background-color: red;
}

#header-forger, #header-briar, #header-desmond {
    display: block;
    text-align: center;
    font-size: clamp(1rem, 1vw, 2rem);
    padding: 20px 15px;
    background: linear-gradient(90deg, rgba(41, 179, 75, 1) 49%, rgba(237, 221, 83, 1) 100%);
}

img {
    display: block;
    width: 250px;
    height: 150px;
    border: none;
    border-radius: 15px;
    margin: auto 10px;
}

p {
    text-align: center;
}

.forger-famInfo .fam-row, .briar-famInfo .fam-row, .desmond-famInfo .fam-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.forger-famInfo .fam-row .fam-img, .briar-famInfo .fam-row .fam-img, .desmond-famInfo .fam-row .fam-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 25px;
    gap: 25px;
}

.forger-famInfo .fam-row-text, .briar-famInfo .fam-row-text, .desmond-famInfo .fam-row-text {
    text-align: center;
}

.forger-famInfo .fam-row .fam-row-text p, .briar-famInfo .fam-row .fam-row-text p, .desmond-famInfo .fam-row .fam-row-text p {
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 20px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
    width: calc(100% - 54px);
}

@media screen and (max-width: 390px) {
    .forger-famInfo .fam-row .fam-row-text p, .briar-famInfo .fam-row .fam-row-text p, .desmond-famInfo .fam-row .fam-row-text p {
        font-size: clamp(1rem, 3vw, 0.87rem);
        margin: 15px auto;
        width: calc(100% - 14px);
    }
}

@media screen and (min-width: 400px) and (max-width: 480px) {
    #header-forger h1, #header-briar h1, #header-desmond h1 {
        font-size: clamp(2rem, 4vw, 1.4rem);
    }

    .forger-famInfo .fam-row .fam-row-text p, .briar-famInfo .fam-row .fam-row-text p, .desmond-famInfo .fam-row .fam-row-text p {
        font-size: clamp(1rem, 3vw, 0.87rem);
        margin: 15px auto;
        width: calc(100% - 14px);
    }
}

@media screen and (min-width: 500px) and (max-width: 790px) {
    .forger-famInfo .fam-row .fam-row-text p, .briar-famInfo .fam-row .fam-row-text p, .desmond-famInfo .fam-row .fam-row-text p {
        font-size: clamp(1.5rem, 4vw, 0.65rem);
        margin: 15px auto;
        width: calc(100% - 34px);
    }
}

@media screen and (min-width: 800px) and (max-width: 1300px){
    #header-forger, #header-briar, #header-desmond {
        font-size: clamp(1.5rem, 4vw, 0.85rem);
    }

    .forger-famInfo, .briar-famInfo, .desmond-famInfo {
        margin: 100px auto;
    }

    .forger-famInfo .fam-row .fam-row-text h2, .briar-famInfo .fam-row .fam-row-text h2, .desmond-famInfo .fam-row .fam-row-text h2 {
        font-size: clamp(2.5rem, 5vw, 2.2rem);
        margin: 7px auto;
    }

    .forger-famInfo .fam-row .fam-row-text p, .briar-famInfo .fam-row .fam-row-text p, .desmond-famInfo .fam-row .fam-row-text p {
        font-size: clamp(1.8rem, 3vw, 0.83rem);
        margin: 15px auto;
        width: calc(100% - 42px);
    }
}